.icon {
  font-size: 32px;
  position: absolute;
}

.spawn-enter {
  animation-duration: 150ms;
}

.spawn-enter.spawn-enter-active {
  animation-name: zoomIn;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}