body {
  user-select: none;
}

.icon {
  font-size: 32px;
  position: absolute;
  cursor: pointer;
}

.spawn-enter {
  animation-duration: 150ms;
}

.spawn-enter.spawn-enter-active {
  animation-name: zoomIn;
}

.spawn-leave {
  animation-duration: 150ms;
  /* background-color: red; */
}

.spawn-leave.spawn-leave-active {
  animation-name: zoomOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    /* font-size: 8px; */
    /* transform: scale3d(.3, .3, .3); */
  }

  to {
    opacity: 0;
  }
}