body {
  user-select: none;
}

.icon {
  font-size: 32px;
  position: absolute;
  cursor: pointer;
}

.spawn-enter {
  animation-duration: 150ms;
  /* transform-origin: right bottom; */
}

.spawn-enter.spawn-enter-active {
  animation-name: zoomIn;
}

.spawn-exit {
  animation-duration: 150ms;
  /* background-color: red; */
}

.spawn-exit.spawn-exit-active {
  animation-name: zoomOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}